---
import PageLayout from "@/layouts/Base";
import { getYearSoFarPlaylistsFromDB, getPastJamsPlaylistsFromDB } from "../../lib/spotify";
import ImageWithBadge from "src/components/ImageWithBadge";
import type { PlaylistWithAllRelationships } from "@/lib/types/spotify";
import type { Artwork } from "@prisma/client";

const playlists: PlaylistWithAllRelationships[] = await getYearSoFarPlaylistsFromDB();
const pastPlaylists: PlaylistWithAllRelationships[] = await getPastJamsPlaylistsFromDB();
const meta = {
  title: "Spotify Jams",
  description: "A collection of monthly liked songs",
};
export const prerender = true;
---

<PageLayout meta={meta}>
  <h1 class="title mb-8 sm:mb-6">Year so far...</h1>
  <ul class="grid grid-cols-2 gap-4 sm:grid-cols-4 sm:gap-8">
    {
      playlists.map((playlist) => {
        return (
          <li>
            <a href={`/playlists/${playlist.id}`} class="cactus-link">
              <ImageWithBadge
                client:load
                imageUrl={playlist.artwork.find((item: Artwork) => item.height == 300)?.url ?? ""}
                underText={playlist.name}
              />
            </a>
          </li>
        );
      })
    }
  </ul>
  <h1 class="title my-8 sm:my-6">Past Jams</h1>
  <ul class="grid grid-cols-2 gap-4 sm:grid-cols-4 sm:gap-8">
    {
      pastPlaylists.map((playlist) => {
        return (
          <li>
            <a href={`/playlists/${playlist.id}`} class="cactus-link">
              <ImageWithBadge
                client:load
                imageUrl={playlist.artwork[0]?.url ?? ""}
                underText={playlist.name}
              />
            </a>
          </li>
        );
      })
    }
  </ul>
</PageLayout>
